.container {
  width: 1140px;
  margin: 0 auto;
}

.intro-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.intro-bg .intro-content {
  width: 500px;
  padding: 50px 0px;
}

.intro-bg .intro-content h1 {
  font-size: 70px;
  margin: 27px 0;
}

.intro-bg .intro-content p {
  font-size: 16px;
  margin-bottom: 35px;
}

.intro-bg .intro-content .give-more-quest {
  padding: 15px 38px;
  background-color: #78C0DE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 3px;
}

.intro-bg .intro-content .give-more-quest svg {
  margin: 0 10px;
}

.intro-bg .intro-img {
  position: absolute;
  right: -200px;
}

.mini-naw {
  background-color: #F9F8F8;
}

.mini-naw ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-naw ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  font-weight: 500;
}

.mini-naw ul li img {
  margin-right: 5px;
}

.mini-naw ul li h4 {
  font-weight: 500;
  font-size: 14px;
}

.mini-naw ul li a {
  font-size: 14px;
  padding: 0 5px;
  color: black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  padding: 15px 0 0px 0;
  padding-bottom: 10px;
}

nav .site-logo {
  position: absolute;
  top: 33px;
  left: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
}

nav ul li a {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

nav ul li img {
  height: 20px;
  margin-right: 10px;
}

nav ul li:hover a {
  -webkit-transition: .3s;
  transition: .3s;
  color: #FFBD54;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav a img {
  margin-right: 10px;
}

nav .give-question {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .give-question h4 {
  font-size: 16px;
  color: #333;
}

nav .give-question:hover h4 {
  -webkit-transition: .3s;
  transition: .3s;
  color: #FFBD54;
}

.faq-questions {
  margin-top: 0px;
}

.faq-questions .accordion-item {
  padding: 45px;
  margin: 18px 0;
}

.faq-questions .accordion-button {
  padding-top: 12px;
}

.faq-questions .accordion-button h4 {
  font-size: 20px;
}

.faq-questions .accordion-button:not(.collapsed) {
  color: #000;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq-questions .accordion-button:focus {
  z-index: 0;
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq-questions .accordion-button:nth-child(3)::after {
  content: none;
}

.faq-questions .dropdown-header-item {
  padding: 16px 20px;
  padding-bottom: 0;
}

.faq-questions .dropdown-header-item h4 {
  font-size: 16px;
}

.faq-questions .dropdown-header-item h4:last-child {
  margin-left: 28px;
  color: #78C0DE;
}

.disabled {
  opacity: .5;
}

.img-block {
  position: relative;
}

.img-block img {
  position: absolute;
  bottom: -100px;
  right: -200px;
}

.footer {
  background: #F3F3F3;
  padding: 40px 0;
  margin-top: 100px;
}

.footer .footer-big-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  width: 100%;
}

.footer .footer-list .footer-item {
  margin-right: 50px;
  cursor: pointer;
}

.footer .footer-list .footer-item .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-list .footer-item .footer-box p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer .footer-list .footer-item .footer-item-item {
  margin-bottom: 10px;
}

.footer .footer-list .footer-item .footer-item-item .footer-item-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer .footer-list .footer-item .footer-item-item .footer-item-item-link:hover {
  color: #FFBD54;
}

.footer .footer-list .top {
  margin-bottom: 50px;
}

.footer .footer-list .top1 {
  margin-bottom: 35px;
}

.footer .footer-text {
  text-align: end;
  margin-top: 50px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: normal;
}

body {
  font-family: 'Futura PT';
  background-color: #F9F8F8;
  overflow-x: hidden;
}

dl, ol, ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h4 {
  margin-bottom: 0;
}
.first__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first__modal .modal_content {
  background-image: url(../img/faq-img/photo_2021-08-27_15-15-27.jpg);
  width: 850px;
  height: 648px;
  padding: 70px;
  position: relative;
}

.first__modal .modal_content .closeBtn {
  border: none;
  background: transparent;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 15px;
}

.first__modal .modal_content .question-send h1 {
  font-size: 45px;
  font-weight: bold;
}

.first__modal .modal_content .question-send .nameInput {
  padding: 10px;
  border: none;
  outline: none;
  margin-top: 25px;
  width: 335px;
}

.first__modal .modal_content .question-send .textArea {
  margin-top: 21px;
  padding: 10px;
  border: none;
  outline: none;
  width: 335px;
}

.first__modal .modal_content .question-send .sendBtn {
  padding: 15px 55px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  margin-top: 27px;
}

.first__modal .modal_content .enter {
  padding-top: 30px;
}

.first__modal .modal_content .enter h3 {
  margin-bottom: 21px;
}

.first__modal .modal_content .enter a img {
  padding-bottom: 21px;
}

.first__modal .modal_content .modal-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.second__modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second__modal .modal_content {
  background-image: url(../img/faq-img/photo_2021-08-27_15-15-27.jpg);
  width: 850px;
  height: 648px;
  padding: 70px;
  position: relative;
}

.second__modal .modal_content .closeBtn2 {
  border: none;
  background: transparent;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 15px;
}

.second__modal .modal_content .question-send h1 {
  font-size: 45px;
  font-weight: bold;
}

.second__modal .modal_content .question-send .nameInput {
  padding: 10px;
  border: none;
  outline: none;
  margin-top: 25px;
  width: 335px;
}

.second__modal .modal_content .question-send .textArea {
  margin-top: 21px;
  padding: 10px;
  border: none;
  outline: none;
  width: 335px;
}

.second__modal .modal_content .question-send .sendSecondQuestion {
  padding: 15px 55px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  margin-top: 27px;
}

.second__modal .modal_content .enter {
  padding-top: 30px;
}

.second__modal .modal_content .enter h3 {
  margin-bottom: 21px;
}

.second__modal .modal_content .enter a img {
  padding-bottom: 21px;
}

.second__modal .modal_content .modal-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 430px;
}

.actived-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */