@import './block/general';
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Futura PT';
    
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}